<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="connection.url">jdbc:mysql://54.38.143.86:3306/dziennik_elektroniczny?createDatabaseIfNotExist=true</property>
        <property name="connection.username">ediary</property>
        <property name="connection.password">ZAQ!2wsx</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping resource="mapping/Ocena.hbm.xml"/>
        <mapping resource="mapping/RodzajOceny.hbm.xml"/>
        <mapping resource="mapping/Autoryzacja.hbm.xml"/>
        <mapping resource="mapping/Uczen.hbm.xml"/>
        <mapping resource="mapping/Klasa.hbm.xml"/>
        <mapping resource="mapping/Przedmiot.hbm.xml"/>
        <mapping resource="mapping/Zajecia.hbm.xml"/>
        <mapping resource="mapping/Nauczyciel.hbm.xml"/>
        <mapping resource="mapping/Obecnosc.hbm.xml"/>
        <mapping resource="mapping/Rodzic.hbm.xml"/>
        <mapping resource="mapping/SkladKlasy.hbm.xml"/>
        <mapping resource="mapping/Usprawiedliwienia.hbm.xml"/>
    </session-factory>
</hibernate-configuration>