<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="connection.url">jdbc:mysql://54.38.143.86:3306/edziennik?createDatabaseIfNotExist=true
        </property>
        <property name="hibernate.connection.username">ediary</property>
        <property name="hibernate.connection.password">ZAQ!2wsx</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="mapping.Klasy"/>
        <mapping class="mapping.KlasyPrzedmioty"/>
        <mapping class="mapping.Konta"/>
        <mapping class="mapping.Nauczyciele"/>
        <mapping class="mapping.Nieobecnosci"/>
        <mapping class="mapping.Oceny"/>
        <mapping class="mapping.Przedmioty"/>
        <mapping class="mapping.Rodzice"/>
        <mapping class="mapping.Role"/>
        <mapping class="mapping.Uczniowie"/>
        <mapping class="mapping.Uwagi"/>

        <mapping resource="mapping/Klasy.hbm.xml"/>
        <mapping resource="mapping/KlasyPrzedmioty.hbm.xml"/>
        <mapping resource="mapping/Konta.hbm.xml"/>
        <mapping resource="mapping/Nauczyciele.hbm.xml"/>
        <mapping resource="mapping/Nieobecnosci.hbm.xml"/>
        <mapping resource="mapping/Oceny.hbm.xml"/>
        <mapping resource="mapping/Przedmioty.hbm.xml"/>
        <mapping resource="mapping/Rodzice.hbm.xml"/>
        <mapping resource="mapping/Role.hbm.xml"/>
        <mapping resource="mapping/Uczniowie.hbm.xml"/>
        <mapping resource="mapping/Uwagi.hbm.xml"/>
    </session-factory>
</hibernate-configuration>